/* Welcome page */

h1 {
	text-align: center;
}

h2 {
	font-size: 48px;
	font-style: oblique;
	color: #fff;
}

.install {
	margin: -20px auto;
	position: relative;
	left: -20px;
}

.dash {
	background-image: url('dash.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 50px 0 0 0;
}

.steps {
	font-family: Acme, Garamond, serif;
	padding-top: 130px;
}

.dash, .steps {
	text-align: center;
	height: 500px;
}

form[name='install'] input[type=text] {
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	font-size: 48px;
	padding: 10px;
	text-align: center;
	font-family: 'Courier New', monospace;
}

/* Modules, Thanks, Restart pages */

input[type=checkbox] {
	width: 100px;
}


form[name='restart'] {
	display: inline-block;
}

form[name='install'] input[type=submit],
form[name='thanks'] input[type=submit],
form[name='restart'] input[type=submit],
form[name='add-module'] input[type=submit],
.return_btn {
	width: auto;
	font-size: 24px;
	display: inline-block;
	margin: 10px;
}

form[name='install'] input[type=checkbox],
form[name='install'] label {
	float: left;
}

#modules {
	overflow-y: scroll;
	height: 180px;
	border: 2px dashed #fff;
	padding: 10px;
}

h3.instruction {
	float: left;
	margin: 0;
}

/* Footer */

#footer {
	background-color: #5B865B;
	border-top: 1px solid #000;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: inherit;
}

#footer ul {
    display: inline-block;
}

#footer ul li {
	padding: 10px 0 0 0;
}