/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #83c183;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

h1 {
	font-size: 64px;
}

h1, p {
	color: #fff;
}

/* Dash Add Module page
-------------------------------------------------- */

form[name='add-module'] {
  display: inline;
}

h4.note {
  display: block;
}

.add-module-page {
  font-family: Acme, Garamond, serif;
  padding-top: 75px;
}

/* Dash Navbar
-------------------------------------------------- */
.dash-nav {
  padding: 5px 100px;
  font-family: Roboto, Arial, sans-serif;
}

.dash-nav button {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-brand {
  font-size: 24px;
}