extends ./layout.jade

block content
  div.row
    div.col.s12
      if (!connected)
        h1#heading.center.thin Welcome back, #{locals.displayName}!
        h2.center.thin: a(href='/connect') Get started by connecting a site!
      else
