doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dash
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/materialize/materialize.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    nav.blue.darken-3
      div.nav-wrapper
        a.brand-logo(href='#') Dash
        ul#nav-mobile.right.hide-on-med-and-down

    script(src='/jquery/jquery.js')
    script(src='/materialize/materialize.js')
