doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dash
    meta(name='description', content='Dash brings all the information you care about into one central location.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    <!-- Stylesheets -->
    link(rel='stylesheet', href='/materialize/materialize.css')
    link(rel='stylesheet', href='/static/css/style.css')
    
    <!-- Fonts -->
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    <!-- Favicon -->
    <!--[if lt IE 9]>
    <link rel='shortcut icon' href='/static/ico/favicon.ico'>
    <![endif]-->
    link(rel='icon', href='/static/ico/favicon.ico')
  
  body
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    nav.blue.darken-3
      div.nav-wrapper
        a.brand-logo(href='#') Dash
        ul#nav-mobile.right.hide-on-med-and-down

    div#formArea
      button#authenticate.waves-effect.waves-dark.btn.btn-front.blue.darken-3 Authenticate
        i.material-icons.left lock

    div.row
      div.col.s12
        h1#welcome.center.thin Organize your social media with Dash

    div.row
      form#loginForm.col.s12(action='/login', method='POST')
        div.row
          div.input-field.col.s4.offset-s4
            i.material-icons.prefix account_circle
            input#username.border-blue(placeholder='Username', type='text', name='username')
            label(for='username') Username
        div.row
          div.input-field.col.s4.offset-s4
            i.material-icons.prefix lock
            input#password.border-blue(placeholder='Password', type='password', name='password')
            label(for='password') Password
        div#verifySection.row
          div.input-field.col.s4.offset-s4
            i.material-icons.prefix compare_arrows
            input#passwordVerify.border-blue(placeholder='Confirm Password', type='password', name='passwordVerify')
            label(for='passwordVerify') Confirm Password
        div.row
          div#controls.input-field.col.s4.offset-s4.blue-text.text-darken-3
            a#register.waves-effect.waves-dark.btn.btn-front.red.darken-3 I'm New Here
              i.material-icons.left assignment_ind
            a#return.waves-effect.waves-dark.btn.btn-front.grey Return
              i.material-icons.left clear
            button#login.waves-effect.waves-dark.btn.btn-front.blue.darken-3(type='submit') Sign In
              i.material-icons.right send

    script(src='/jquery/jquery.js')
    script(src='/jquery/jquery.validate.js')
    script(src='/jquery/additional-methods.js')
    script(src='/materialize/materialize.js')
    script(src='/static/js/login.js')
