doctype
html.no-js
  include ../includes/head.pug
  body
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    include ../includes/nav.pug

    block content

    script(src='/jquery/jquery.js')
    script(src='/materialize/materialize.js')
    script.
      $(document).ready(function() {
        $('.dropdown-button').dropdown({
          belowOrigin: true
        });
      });
    block additionalScripts