extends ./layout.jade

block title
  title Dash | Login

block content
  div.row
    div.col.s12
      h1#heading.center.thin Welcome back!

  div.row

    if (message.length > 0)
      div#formMessage.center: p #{message}

    form#loginForm.col.s12(action='/login', method='POST')
      div.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix email
          input#email.border-blue(placeholder='Email Address', type='text', name='email')
          label(for='email') Email Address
      div.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix lock
          input#password.border-blue(placeholder='Password', type='password', name='password')
          label(for='password') Password
      div#verifySection.row
      div.row
        div#controls.input-field.col.s4.offset-s4.blue-text.text-darken-3
          button#login.waves-effect.waves-dark.btn.btn-front.blue.darken-3.right(type='submit') Sign In
            i.material-icons.right send
          a#register.waves-effect.waves-dark.btn.btn-front.red.darken-3.left(href='/register') I'm New Here
            i.material-icons.left assignment_ind

block additionalScripts
  script(src='/jquery/jquery.validate.js')
  script(src='/jquery/additional-methods.js')
  script(src='/static/js/login.js')