extends ./layout.pug

block title
  title Dash | Register

block content
  div.row
    div.col.s12
      h1.main-heading.center.thin Register

  div.row
    if (message.length > 0)
      div#formMessage.center: p !{message}

    form#registerForm.col.s12(action='/register', method='POST')
      div.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix email
          input#email.border-blue(placeholder='Email Address', type='text', name='email')
          label(for='email') Email Address
      div.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix person
          input#displayName.border-blue(placeholder='Display Name', type='text', name='displayName')
          label(for='displayName') Display Name
      div.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix lock
          input#password.border-blue(placeholder='Password', type='password', name='password')
          label(for='password') Password
      div#verifySection.row
        div.input-field.col.s4.offset-s4
          i.material-icons.prefix compare_arrows
          input#passwordVerify.border-blue(placeholder='Confirm Password', type='password', name='passwordVerify')
          label(for='passwordVerify') Confirm Password
      div.row
        div#controls.input-field.col.s4.offset-s4.blue-text.text-darken-3
          button#register.waves-effect.waves-dark.btn.btn-front.red.darken-3.right(type='submit') Register
            i.material-icons.right send
          a#login.waves-effect.waves-dark.btn.btn-front.blue.darken-3.left(href='/login') Sign In
            i.material-icons.left assignment_ind

block additionalScripts
  script(src='/jquery/jquery.validate.js')
  script(src='/jquery/additional-methods.js')
  script(src='/static/js/register.js')