extends ./layout.pug

block content
  div.row
    div.col.s8.offset-s2
      h1#pageHeading.thin Dash Settings

  div.row
  if (message.length > 0)
    div#formMessage.center: p #{message}

  div.row
    div.col.s8.offset-s2
      ul#settings.tabs
        li.tab.col.s4: a.active(href='#general') General Settings
        li.tab.col.s4: a(href='#account') Account Settings

  div.row.no-margin
    div#general.col.s6.offset-s3
      form#settingsForm(action='/settings', method='POST')
        div.row
          div.input-field.col.s12
            i.material-icons.prefix assignment_ind
            input#display_name.border-blue(value=locals.displayName, type='text', name='display_name')
            label(for='display_name') Display Name
        div.row
          div#controls.input-field.blue-text.text-darken-3.col.s12
            button.waves-effect.waves-dark.btn.btn-front.blue.darken-3.right(type='submit') Update
              i.material-icons.right send

  div.row.no-margin
    div#account.col.s6.offset-s3
      <!-- Account Removal Modal Trigger -->
      p Delete Dash Account (and all stored preferences)
      a.modal-trigger.waves-effect.waves-light.blue.darken-3.btn(href='#', onclick='deleteModal(); return false;') Delete Account
      <!-- Account Removal Modal Structure -->
      div#deleteModal.modal
        div.modal-content
          h4 WARNING: Account Deletion
            p By proceeding with the account deletion, all preferences and data will be lost. You will be required to start from scratch with a new account if you change your mind after deletion. There is no restoration process - once deleted, your account is gone forever.
            p NOTE: If your goal is to reset your connection-specific preferences, a reset option exists on the connections page. You may reset the connection or remove the connection from the connections page. There is no need to delete your account unless you no longer want one.
        div.modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat Cancel
          a#deleteConfirm.modal-action.modal-close.waves-effect.waves-blue.btn-flat Delete Account

block additionalScripts
  script(src='/jquery/jquery.validate.js')
  script(src='/jquery/additional-methods.js')
  script(src='/static/js/settings.js')
  script(src='/static/js/settingsActions.js')