/*================
 *  Body
==================*/

body {
    background-color: #fafafa;
}

/*================
 *  Navigation
==================*/

nav a.brand-logo {
    padding-left: 30px;
}

ul#nav-mobile li a {
    font-size: 18px;
}
