/*================
 *  Body
==================*/

body {
    background-color: #fafafa;
}

/*=========================
 *  General Page Styles
===========================*/

#pageHeading {
    padding: 50px 50px 0 0;
    margin-bottom: 1rem;
}

h1#heading {
    padding: 100px 100px 50px 100px;
}

/*================
 *  Navigation
==================*/

nav {
    padding: 0 30px;
}

ul#nav-mobile li a {
    font-size: 18px;
}

.dropdown-button .right {
    margin-left: 5px;
}

#user-dropdown li a {
    color: #1565c0; /* blue darken-3 */
}

#user-dropdown li a:hover {
    background-color: #e3f2fd; /* blue lighten-5 */
}

#user-dropdown li a i {
    font-size: 1.5rem; /* Between tiny (1rem) and small (2rem) */
}

nav img.avatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 12px;
}

/*================
 *  Settings
==================*/

ul#settings li a {
    color: #000;
    transition: background-color .3s;
}

ul#settings.tabs .tab a:hover {
    background-color: #e3f2fd; /* blue lighten-5 */
}

/*================
 *  Buttons
==================*/

.btn-front {
    text-transform: inherit;
    font-size: 16px;
    height: 40px;
    line-height: 42px;
}

/*================
 *  Error page
==================*/

h1#errorHeading {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 10px;
}

#errorActions {
    text-align: center;
}

#errorBox {
    text-align: center;
}

#errorMessage {
    margin: 50px auto;
    max-height: 400px;
    overflow-y: scroll;
    font-size: 16px;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    max-width: 75%;
    padding: 20px 200px;
    background-color: #fff59d;  /* yellow lighten-3 */
    border: 2px solid #f9a825;  /* yellow darken-3 */
}

#errorMessage p.border {
    border-bottom: 1px solid #000;
}

#errorMessage p.italic {
    font-style: italic;
}

.hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#errorMessage::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    _background-color: #f0f0f0;
}

#errorMessage::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    _background-color: #bfbfbf;
    background-color: #A0A0A0;
}

#errorMessage::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #A0A0A0;
}

#errorMessage::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}

/*================
 *  Front page
==================*/

#actions {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -190.844px;
    /*transform: translate(-50%, -50%);*/
}

#actions #register {
    margin-right: 50px;
}

/*==================
 *  Form Styles
====================*/

#formMessage {
    margin: 20px auto 30px auto;
    font-size: 14px;
    width: 100%;
    background-color: #fff59d;          /* yellow lighten-3 */
    border-top: 2px solid #f9a825;      /* yellow darken-3 */
    border-bottom: 2px solid #f9a825;   /* yellow darken-3 */
}

input.border-blue {
    font-size: 18px;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #1565c0; /* blue darken-3 */
    box-shadow: 0 1px 0 0 #1565c0; /* blue darken-3 */
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    color: #1565c0; /* blue darken-3 */
}

.input-field .prefix {
    padding-top: 10px;
    color: #424242; /* grey darken-3 */
}

.input-field .prefix.active {
    color: #1565c0; /* blue darken-3 */
}

#controls {
    padding-top: 10px;
}

#controls.topPadding {
    padding-top: 30px;
}

label.invalid {
    color: red;
    display: block;
    font-size: 0.8rem;
    left: 0;
    position: relative;
    top: -10px;
    transform: none!important;
}
