head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  block title
    title Dash
  meta(name='description', content='Dash brings all the information you care about into one central location.')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  <!-- Stylesheets -->
  link(rel='stylesheet', href='/materialize/materialize.css')
  link(rel='stylesheet', href='/static/css/style.css')
  block additionalStyles

  <!-- Fonts -->
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  <!-- Favicon -->
  <!--[if lt IE 9]>
  <link rel='shortcut icon' href='/static/ico/favicon.ico'>
  <![endif]-->
  link(rel='icon', href='/static/ico/favicon.ico')