ul#user-dropdown.dropdown-content
  li: a(href='/settings') Dash Settings
    i.material-icons.left settings
  li: a(href='/connect') Connected Sites
    i.material-icons.left settings_input_antenna
  //- Add other connections here later
  if facebookPosts && facebookPosts.length > 0
    li: a(href='#', onclick='dismiss("all", "facebook", $(".card.facebook")); return false;') Clear Updates
      i.material-icons.left clear
nav.blue.darken-3
  div.nav-wrapper
    a.brand-logo(href='/') Dash
    ul#nav-mobile.right.hide-on-med-and-down
      if (locals.login)
        li: a.dropdown-button(href='#', data-activates='user-dropdown') #{locals.greeting}, #{locals.displayName}!
          i.material-icons.right arrow_drop_down
          img.avatar.left(src='#{locals.gravatar}')
        if connected
          li: a#refresh(href='#', onclick='refresh(); return false;')
            i.material-icons refresh
        li: a(href='/logout') Logout