ul#user-dropdown.dropdown-content
  li: a(href='/settings') Dash Settings
    i.material-icons.left settings
  li: a(href='/connect') Connected Sites
    i.material-icons.left settings_input_antenna
nav.blue.darken-3
  div.nav-wrapper
    a.brand-logo(href='/') Dash
    ul#nav-mobile.right.hide-on-med-and-down
      if (locals.login)
        li: a.dropdown-button(href='#', data-activates='user-dropdown') #{locals.greeting}, #{locals.displayName}!
          i.material-icons.right arrow_drop_down
          img.avatar.left(src='#{locals.gravatar}')
        li: a(hrref='#') #{locals.date}
        li: a(href='/logout') Logout